html,
body {
  height: 100%;
  margin: 0;
  overflow: auto;
}
body {
  font-family: "Alegreya", "Songti SC", serif;
  background-image: radial-gradient(
    circle at top left,
    rgb(195, 195, 195) 0%,
    rgb(195, 195, 195) 2%,
    rgb(202, 202, 202) 2%,
    rgb(202, 202, 202) 23%,
    rgb(209, 209, 209) 23%,
    rgb(209, 209, 209) 55%,
    rgb(217, 217, 217) 55%,
    rgb(217, 217, 217) 80%,
    rgb(224, 224, 224) 80%,
    rgb(224, 224, 224) 86%,
    rgb(231, 231, 231) 86%,
    rgb(231, 231, 231) 96%,
    rgb(238, 238, 238) 96%,
    rgb(238, 238, 238) 100%
  );
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.loading {
  vertical-align: middle;
}
